body{
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
color:#40514E;
}

p{
  line-height: 2;
}

h1{
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}


hr{
  border-color: #EAF6F6;
  border-style: dotted none none;
  width: 7%;
  border-width: 10px;
  margin: 100px auto;
}


.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;

}

.middle-container{
  margin: 100px 0;

}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}

.adobe-skills{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.google-skills{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;

}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;

}

.copywrite{
  color: #EAF6F6;
}

.intro{
  width: 40%;
  margin: auto;
}

.btn {
	background-color:#66bfbf;
	border-radius:8px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.btn:hover {
	background-color:#52b38c;
}
.btn:active {
	position:relative;
	top:1px;
}
